.modal-content {
    background-color: #333333;
    text-align: center;
    border-radius: 15px;
}

.modal-header {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.modal-title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.modal-body {
    color: #ffffff;
}