.rec-box {
    background-color: #333333;
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
}

.rec-box h5 {
    text-transform: uppercase;
    color: #aaaaaa;
    margin-bottom: 20px;
}

.rec-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 0;
}

.item-number {
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
}

.track-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rec-track-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.rec-track-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.track-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.error-message {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Mobile screens */
@media (max-width: 768px) {
    .rec-track-circle {
        width: 50px;
        height: 50px;
    }

    .item-number {
        font-size: 14px;
    }

    .rec-box {
        padding: 10px;
    }

    .track-name {
        font-size: 14px;
    }
}