.top-box {  /* Used for all other stats */
    background-color: #333333;
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
}

 /* Used for Top genres chart */
h5 {
    text-transform: uppercase;
    color: #aaaaaa;
    margin-bottom: 20px;
}

.error-message {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.chart-box {
    background-color: #333333;
    border-radius: 15px;
    padding: 20px;
    color: #ffffff;
}

/* Adjustong for screens of different sizes */
@media (max-width: 768px) {
    .chart-container {
        height: 250px; 
        padding: 10px;
    }

    .box-title, .chart-title {
        font-size: 20px;
    }
}
